<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="2 seconds">
    <!-- 控制台输出日志 -->
    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>PROFILER</Marker>
        <OnMatch>DENY</OnMatch>
    </turboFilter>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>
    <!--&lt;!&ndash; 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份)&ndash;&gt;-->
    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<File>/home/jinyancao/project/github/spring-web/logs/manage.log</File>-->
        <!--&lt;!&ndash;<File>./logs/manage.log</File>&ndash;&gt;-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
            <!--<FileNamePattern>manage.log.%i.bak</FileNamePattern>-->
            <!--<MinIndex>1</MinIndex>-->
            <!--<MaxIndex>12</MaxIndex>-->
        <!--</rollingPolicy>-->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
            <!--<MaxFileSize>100MB</MaxFileSize>-->
        <!--</triggeringPolicy>-->
        <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
            <!--<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>-->
        <!--</layout>-->
    <!--</appender>-->
    <!--&lt;!&ndash;这里指定logger name 是为jmx设置日志级别做铺垫 &ndash;&gt;-->
    <!--<logger name="manage.log.LogAspact" >-->
        <!--<appender-ref ref="FILE" level="DEBUG"/>-->
    <!--</logger>-->
    <root>
        <appender-ref ref="STDOUT" level="INFO"/>
    </root>
</configuration>